/*
Theme: Leandro Pessoa
Author: Simple and Clean
URL: http://www.leandropessoa.com.br
Country: Brazil
*/
table{border-spacing:1px;font:12px 'Verdana', Arial, Helvetica, sans-serif;background:#E7E7E7;color:#666666;}
caption{border:#666666;border-bottom:2px solid #666666;text-transform:uppercase;padding:10px;background:url(https://web.archive.org/web/20070209185733if_/http://www.leandropessoa.com.br:80/table/img/TableCaption.jpg);font:15px 'Verdana', Arial, Helvetica, sans-serif;font-style:italic;font-weight:bold;}
td, th{padding:4px;}
thead th{text-align:center;background:#F5F5F5;color:#666666;border:1px solid #ffffff;text-transform:uppercase;}
tbody th{font-weight:bold;font-size: 14px;
    border: 1px solid #fff;}
tbody tr{background:#EBF8FE;text-align:left;}
tbody tr.odd{background:#ffffff;border-top:1px solid #ffffff;}
tbody th a:link, tbody th a:visited{color:#666666;padding:3px 0px 0px 18px;background:url(https://web.archive.org/web/20061130233333if_/http://www.leandropessoa.com.br:80/table/img/ico_novajanela.gif);background-repeat:no-repeat;}
tbody th a:hover{color:#009900;}
tbody tr td{height:25px;background:#EBF8FE;border:1px solid #ffffff;}
tbody tr.odd td{background:#ffffff;border-top:1px solid #ffffff;}
table td a:link, table td a:visited{color:#666666;text-decoration:none;font-weight: bold;}
table td a:hover{color:#009900;text-decoration:underline;font-weight: bold;}
table a[title^="Download"]{background:url(https://web.archive.org/web/20070202011627if_/http://www.leandropessoa.com.br:80/table/img/icPADRAO.gif) no-repeat center;padding:20px 0px 0px 15px;}
tbody td a[href="http://www.leandropessoa.com.br"]{margin:0 auto;height:15px;border-bottom:0;padding:3px 0px 0px 18px;font-weight:bold;color:#FF8601;background:url(https://web.archive.org/web/20080815142308if_/http://www.leandropessoa.com.br/table/img/check.gif);background-repeat: no-repeat;}
tfoot th, tfoot td{background:url(https://web.archive.org/web/20070209185733if_/http://www.leandropessoa.com.br:80/table/img/TableCaption.jpg);padding:10px;text-align:center;font:15px 'Verdana', Arial, Helvetica, sans-serif;font-style:italic;font-weight:bold;border-bottom:3px solid #cccccc;border-top:1px solid #DFDFDF;}

  section.form-record input.btn.editingSize {
    color: rgb(113, 110, 110);
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    display: block;
    width: 220px;
    height: 50px;
    box-shadow: rgb(174, 191, 210) 3px 3px 0px 0px;
    background: #ebf8fe;
    border-radius: 3px;
}
section.form-record form#tblCustomerInfo_filter_form b {
    font-size: 20px;
    font-weight: 500;
}
section.form-record form#tblCustomerInfo_filter_form input[type="text"] {
width: 300px;
    height: 50px;
    margin-left: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 20px 8px;
    font-size: 18px;

}
form#tblCustomerInfo_filter_form {
    margin-bottom: 20px;
}
section.form-record .ajaxCRUD td, section.form-record .ajaxCRUD th {
    padding: 10px 12px;
}
section.form-record .ajaxCRUD th {
    font-size: 18px;
    font-weight: 500;
}
section.form-record .ajaxCRUD td {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
form#add_form_tblCustomerInfo td{
color:	#51152a;
}
form#tblCustomerInfo_filter_form td, form#add_form_tblCustomerInfo td th, form#add_form_tblCustomerInfo td {
	padding:0.5em;	
}
/*form#add_form_tblCustomerInfo select, form#add_form_tblCustomerInfo textarea {
    width: 100%;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    padding: 8px;
    color: #641b35;
}*/

form#add_form_tblCustomerInfo {
padding:0;	
}
section.form-record form#add_form_tblCustomerInfo select{
    margin: 0px auto;	
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: #ebf8fe;
    padding: 6px 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  transition: background-color 5000s ease-in-out 0s;
}
form#add_form_tblCustomerInfo input, form#add_form_tblCustomerInfo select, form#add_form_tblCustomerInfo textarea{
    width: 100%;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    padding: 8px;
           color: #90b0d2;
}

tr {
    vertical-align: middle;
}